* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.TopBanner {
    padding: 0;
    background: #ddd;
    overflow: hidden;
    height: 100px;
    transition: 0.5s;
}

.TopBanner.on {
    height: 0;
}

.btn {
    font-size: 30px;
    color: #f00;
    display: inline-block;
}

.btn.on {
    transform: rotate(0.5turn);
}